* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.container {
    margin: 0 auto;
    width: 1400px;
}
.header {
    background: url("./image/bgc- header.png") no-repeat;
    width: 100%;
    background-size: cover;
    height: 120vh;
    
}
.logo-img {
    margin-top: 25px;
}
.header-left {
    margin-top: 25px;
    display: flex;
    gap: 40px;
}
.header-wraper a {
    color: #fff;
    text-decoration: none; 
}
.header-wraper {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}
.header-right {
    display: flex;
    gap: 40px;
    margin-top: 25px;
}
.header-lupa {
    display: flex;
    gap: 13px;
    margin-top: 25px;
}
.header-h1 {
    margin-top: 523px;
    font-size: 36px;
    margin-right: 150px;
    color: #fff;
    text-align: center;
}
.btn-header {
    width: 261px;
    height: 51px;
    border: 1px solid white;
    background-color: #333333;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    padding: 15px 35px;
    margin-left: 490px;
    margin-top: 50px;
}
